* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {

    background: linear-gradient(#000843, #7738ff);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    font-family: 'Prompt';
    font-weight: 400;

}

.header-two {
    background-color: #ffffff;
    place-content: center;
    text-align: center;
    padding: 0;
    height: 5dvh;
    outline: black solid 2px;

}

.textheader2 {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

p {
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}



.main img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;

}

.holographic-card {
    background-color: #7738ff;
    outline: black solid 2px;



}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    height: 200px;
    
    border: 1px solid #ccc;

}

.headerone {
    color: white;
    -webkit-text-stroke: 1px black;
    -webkit-text-stroke: 1px black;

}

.Loga {
    position: absolute;
    left: 20px;
    /* space from left edge */
    height: 100px;
}

.holographic-card {

    height: 200px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    transition: all 0.5s ease;
}

.holographic-card h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.holographic-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(0, 255, 255, 0.3));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.holographic-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}

a {
    text-decoration: none;
    color: #ffffff;


}

.hover-underline {
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

.header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


@import url('https://fonts.googleapis.com/css?family=Prompt:700|Prompt:400');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Prompt';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 2.210rem;
    /* 67.36px */
}

h2 {
    font-size: 1.158rem;
    /* 50.56px */
}

h3 {
    font-size: 0.969rem;
    /* 37.92px */
}

h4 {
    font-size: 0.777rem;
    /* 28.48px */
}

h5 {
    font-size: 0.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

footer {
    position: fixed;
    background-color: #003366;
    color: white;
    text-shadow: #333 1px 1px 2px;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}